%h1 Select the type of equation:
%div.content
%p
  = link_to "Linear equation", equation_new_linear_path, remote: true, class: 'btn btn-default'
  = link_to "Quadratic equation", equation_new_quadratic_path, remote: true, class: 'btn btn-default'
%p 